.page404 {
    width: 932px;
    margin: auto;
    height: 80vh;

    h1  {
        text-align: center;
        padding-top: 50%;
    }
}

@media only screen and (max-width: 800px) {

    .page404 {
        width: 932px;
        margin: auto;
        height: 170vh;
    
        h1  {
            text-align: center;
            padding-top: 50%;
            font-size: 70px;
            width: 80%;
            margin: auto;
        }
    }
    
    footer {
        padding-bottom: 200px;
    }
}


