#event {


    .event__container {

        .test {
            width: 930px;
        }
        
        background-image: url("../public/assets/assetMeat15-min.webp");
        background-size: cover;
        background-position: 35% 100%;
        padding-bottom: 100px;


        .salle {
            border: 1px solid $color2 !important;
        }

        p {
            text-shadow: 1px 1px 0px #000000;
            font-family: 'Inknut Antiqua';

        }
        
        h1 {
            padding: 30px 80px;
            margin-bottom: 70px;
            font-size: 50px;
            -webkit-box-shadow: 5px 5px 15px 5px #371101; 
            box-shadow: 5px 5px 15px 5px #220B01;
            background-image: url("../public/assets/bois7BadQuality.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 10px;
        }
    
        display: flex;
        padding-top: 220px;
        flex-direction: column;
        align-items: center;

        .brasero__container {
            display: flex;
            flex-direction: row;
            width: 75%;
            align-items: center;
            padding-bottom: 100px;
            
            // border-bottom: 3px solid $color2;

            .brasero__textdiv {
                display: flex;
                flex-direction: column;
                text-justify: left;
                font-size: 28px;
                margin-left: 80px;
            }
        }

        .privatisation__container {
            display: flex;
            flex-direction: row;
            width: 75%;
            align-items: center;

            .privatisation__textdiv {
                display: flex;
                flex-direction: column;
                text-justify: left;
                font-size: 28px;
                margin-left: 80px;
            }
        }
    }

@media only screen and (max-width: 1325px) {
    #event {
        .event__container {        
            // height: 300vh;
            background-position: right;
    .brasero__container {
        display:flex;
        flex-direction: column !important;

        .brasero__textdiv {
            margin-left: 0px;
            padding-top: 26px;
        }
    }

    .privatisation__container {
        display:flex;
        flex-direction: column !important;

        .privatisation__textdiv {
            margin-left: 0px;
            padding-top: 26px;
        }
    }}
}
}

@media only screen and (max-width: 1000px) {
    .brasero__container {
        display:flex;
        flex-direction: column !important;


        .brasero__textdiv {
            margin-left: 0px !important;
            padding-top: 26px;
        }
    }

    .privatisation__container {
        display:flex;
        flex-direction: column !important;

        .privatisation__textdiv {
            margin-left: 0px !important;
            padding-top: 26px;
        }
    }
}


@media only screen and (max-width: 885px) {
    .brasero__container {
        display:flex;
        flex-direction: column;
        width: 80%;


        .brasero__textdiv {
            margin-left: 0px;
            padding-top: 26px;
        }
    }

    .privatisation__container {
        display:flex;
        flex-direction: column;
        width: 80%;



        .privatisation__textdiv {
            margin-left: 0px;
            padding-top: 26px;
        }

        .salle {
            width: 110%;
            height: 110%;
        }
    }
}
}