.hero {
    // background-image: url("../public/assets/meatNew.jpg");
    background-image: url("../public/assets/assetMeat8.jpeg");
    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 10% 80%;
    height:100vh;
    display: grid;
    // box-shadow: 0 5px 9px 0 rgb(0 0 0 / 25%);

    .hero-title-div {
        display: flex;
        flex-direction: column;
        margin-top: 30vh;
        align-items: center;

        h1 {
            font-size: 65px;
            letter-spacing: 4px;
            text-shadow: black 0.1em 0.1em 0.2em;
            // border: 8px solid white;
            padding: 30px 86px;
            // -webkit-box-shadow: 5px 5px 15px 5px #371101; 
            // box-shadow: 5px 5px 15px 5px #220B01;
            // background-image: url("../public/assets/bois7.jpg"), url("../public/assets/bois7BadQuality.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 10px;
        }
    }
    
h3 {
    // font-style: italic;
    font-size: 30px;
    margin: 140px 0px 0px;
    text-shadow: black 0.1em 0.1em 0.2em;
}

h5 {
    font-family: 'Inknut Antiqua';
}

.fa-chevron-down {
    font-size: 60px;
    cursor: pointer;
    margin: 0px auto;
    transition:ease-in-out 0.2s;

    &:hover {
        color: $color3;
        transform: scale(1.6);
        transition:ease-in-out 0.2s;
        }
    }
}
    
@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
 

  @media only screen and (max-width: 1024px) {
    .hero {
        // background-image: url("../public/assets/viande.jpg"),url("../public/assets/viande3.jpg"),;
        // background-image: url("../public/assets/photo8.jpg");
        background-image: url("../public/assets/meatNew.jpg");
        background-size:cover;
        background-repeat: no-repeat;

        .hero-title-div {

            h1 {
                font-size: 65px;
                letter-spacing: 4px;
                text-shadow: black 0.1em 0.1em 0.2em;
                border: 2px solid white;
                padding: 30px 86px;
                -webkit-box-shadow: 3px 4px 10px 5px rgba(27,8,1,0.7); 
                box-shadow: 3px 4px 10px 5px rgba(27,8,1,0.7);
                border-radius: 15px;
                border: none;
                // -webkit-box-shadow: none; 
                // box-shadow: none;

            }
        }
    }
}

@media only screen and (max-width: 800px) {
    .hero {
        height: 180vh;
        // background-image: url("../public/assets/viande.jpg"),url("../public/assets/viande3.jpg"),;
        background-image: url("../public/assets/meatNew.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 70%;

        .hero-title-div {

            h1 {
                font-size: 54px;
                letter-spacing: 4px;
                text-shadow: black 0.1em 0.1em 0.2em;
                border: 1px solid white;
                padding: 30px 86px;
                -webkit-box-shadow: 5px 5px 15px 5px #371101; 
                box-shadow: none;
            }

            h3 {
                // font-style: italic;
                font-size: 40px;
                margin: 220px 0px 0px;
                text-shadow: black 0.1em 0.1em 0.2em;
             }
            
            h5 {
                font-size: 35px;
            }
            
            .fa-chevron-down {
                font-size: 60px;
            }    
        }
    }
}
@media only screen and (max-width: 500px) {
    .hero {
        height: 233vh;
        // background-image: url("../public/assets/viande.jpg"),url("../public/assets/viande3.jpg"),;
        background-image: url("../public/assets/meatNew.jpg");
        background-size: 290%;
        background-repeat: no-repeat;
        background-position: 50% 10%;
        // background-position: 25% 90%;


        .hero-title-div {


            h1 {
                font-size: 60px;
                letter-spacing: 4px;
                text-shadow: black 0.1em 0.1em 0.2em;
                border: 1px solid white;
                padding: 30px 86px;
                margin: 200px 0 0 0;
                -webkit-box-shadow: 5px 5px 15px 5px #371101; 
                box-shadow: none;
            }

            h3 {
                // font-style: italic;
                font-size: 50px;
                margin: 270px 0px 0px;
                text-shadow: black 0.1em 0.1em 0.2em;
            }
            
            h5 {
                font-size: 35px;
            }
            
            .fa-chevron-down {
                font-size: 60px;
            }    
        }
    }
}

// @media only screen and (max-width: 375px) {
//     .hero {
//         height: 200vh;
//     }
// }
