#horaire::before {
    content: "";
    background-image: url("/assets/assetMeat10-min.webp");
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.1;
}

#horaire {
    // background: #1B1D1F;
    // background: #0b1315c9;
    position: relative;
    padding-top: 20px;
    background-size: cover;

    
    h4 {
        text-align: center;
        font-size: 36px;
        border-bottom: 2px solid $color2;
        margin: 60px auto 50px;
        width: 600px;
    }

    table {
        list-style: none;
        text-align: justify;
        margin: 0 auto;
        margin-bottom: 50px;
        
        td {
            padding: 0px 50px;
            font-family: 'Inknut Antiqua';
        }
    }

    .paiement_text {
        border-bottom: 3px solid $color2;
        width: 375px;
        margin: 0 auto 20px;
        font-size: 20px;
    }

    .paiement {
        justify-content: center;
        display: flex;
        font-size: 17px;
        flex-direction: row;
        padding-bottom: 40px;

        .paiement_div {
            display: flex;
            margin-right: 35px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }

    p {
        font-family: 'Inknut Antiqua';
        font-style: italic;
        margin-bottom: 50px;
        font-size: 20px;
        text-align: center;
    }

    .cursive {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 35px;
    }


@media only screen and (max-width: 530px) {
    h4 {

        text-align: center;
        font-size: 60px;
        border-bottom: 3px solid $color2;
        margin: 60px auto 70px;
        width: 900px;
    }

    table {
        font-size: 36px;
    }

    p {
        font-size: 36px;
        width: 90%;
        margin: 0 auto 100px;
    }


    .paiement_text {
        font-size: 36px;
        width: 70%;
    }

    .paiement_div {
        padding-bottom: 100px;
        font-size: 30px;
    }
    .cursive {
        font-size: 50px;
    }
}
}