.mentions {
    height: 120vh;

    .mention__container {

        h1 {
            font-size: 55px;
            padding-top: 200px;
            text-align: center;
        }

        ul {
            display: flex;
            flex-direction: column;
            margin-left: 38vh;
            margin-top: 90px;

            li {
                list-style: none;
                font-family: 'Inknut Antiqua';
                margin: 5px;
                width: 1200px;
                display: flex;
                flex-direction: row;

                span {
                    margin-left: 100px;
                }
            }
        }
    }


}