#news {
    padding-top: 30px;
    height: 80vh;
    // background-image: url("../public/assets/bg-desk.jpg");
    background: rgb(40,36,33);
    background: linear-gradient(129deg, rgba(40,36,33,1) 0%, rgba(45,41,38,1) 64%, rgba(54,48,42,1) 100%);


    .present {

        h3 {
            border-bottom: 3px solid $color2;
            margin: 0 auto;
            margin-bottom: 20px;
            text-align: center;
            min-width: 200px;
            width: 250px;
            font-size: 17px;
        }

        p {
            font-size: 16px;
            width: 70%;
            font-family: 'Inknut Antiqua';
            margin: 0 auto;

        }
        // border: 1px solid;
        padding: 40px;
        text-align: justify;
        width: 80%;
        margin: 0 auto;
    }
        h4 {
            // font-style: italic;
            text-align: center;
            font-size: 36px;
            border-bottom: 2px solid $color2;
            margin: -30px auto 40px;
            width: 500px;
        }
}

@media only screen and (max-width: 1024px) {

    #news {
        height: 140vh;
    .present {

        h3 {
            width: 60%;
            margin-bottom: 15px;
        }

        p {
            font-size: 16px;
            width:100%;
            min-width: 100%;
            font-family: 'Inknut Antiqua';
            margin: 35px auto;

        }
}
}
}

@media only screen and (max-width: 768px) {

}