#news {
    padding-top: 70px;
    // height: 78vh;
    // background-image: url("../public/assets/bg-desk.jpg");
    background: rgb(40,36,33);
    background: linear-gradient(129deg, rgba(40,36,33,1) 0%, rgba(45,41,38,1) 64%, rgba(54,48,42,1) 100%);
    background: #1B1C1E;

    .present {
        display: grid;
        grid-template-columns: 60% 1fr;
        padding-top: 60px;
        text-align: center;
        margin: 0 auto;

        h3 {
            border-bottom: 3px solid $color2;
            margin: 30px auto;
            margin-bottom: 40px;
            width: 70%;
            font-size: 22px;
        }

        p {
            font-size: 16px;
            font-family: 'Inknut Antiqua';
            margin: 0 auto;
            width:80%;
        }

        img {
            border-radius: 15px;
            width: 70%;
        }

        .opacity-filter {
            opacity: 0.85;
        }
            
    }
}

@media only screen and (max-width: 1300px) {
    #news {
        padding-top: 70px;
        // height: 90vh;
    }
    .present {
        display: flex;
        flex-direction: column;
        padding-bottom: 60px;
    }
}

@media only screen and (max-width: 1024px) {

    #news {
        // height: 130vh;
    .present {

        h3 {
            width: 60%;
            margin-bottom: 25px;
        }

        p {
            font-size: 16px;
            width: 85%;
            font-family: 'Inknut Antiqua';
            margin: 35px auto;
        }
}
}
}

@media only screen and (max-width: 800px) {
    #news {
        padding-top: 80px;
        
    .present {
        display: flex;
        flex-direction: column;
        padding-bottom: 60px;
        
            h3 {
                font-size: 32px;
            }
            p {
                width: 85%;
                font-size: 26px;
            }
        }
    }
}


@media only screen and (max-width: 575px) {
    #news {
        padding-top: 80px;
        
    .present {
        display: flex;
        flex-direction: column;
        padding-bottom: 60px;
        
            h3 {
                width: 70%;
                font-size: 50px;
                margin-bottom: 55px;
            }
            p {
                width: 85%;
                font-size: 38px;
            }
        }
    }
}